<html>
    <head>
        <title>   </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta name="google-adsense-account" content="ca-pub-1660224676460314">
        <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style1.css">
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="https://www.dropbox.com/scl/fi/81835ch6ftsybsr89piux/Screenshot_2024-08-14_144908-removebg-preview.png?rlkey=ibgz4kkbxvpn8e3rwfgsi8e3n&st=2z3b8us6&raw=1" class="logo">
            </div>
            <div class="content">
                <h1>SAY GOODBYE <br> TO HUNGER
                </h1>
                <div>
                    <button type="button"><span></span><a href="/dine">ORDER NOW</a></button>
                </div>
            </div>
        </div>
    </body>
</html>